.bg{background-color: rgb(211, 155, 155);
}

.top{margin-top: 90px;
    padding-bottom: 150px;
   
}
.new{border: 2px solid rgb(14, 14, 14);
border: 0 0 20px 10px black;}


.m{margin-top: 200px;
color: brown;}

.nav{
    font-style: italic;
}


